<div class="card" [hidden]="!show">
  <header class="card-header">
    <p class="card-header-title">
      <strong>Game Invite</strong>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div>
        <p>
          {{game.title}}
        </p>
        <p>
          {{game.description}}
        </p>
      </div>
      <br/>
      <div>
        <i class="fa fa-calendar"></i>
        <small>{{game.dateTime}}</small>
        <br/>
        <i class="fa fa-map-marker"></i>
        <small>{{game.location}}</small>
      </div>
      <br/>
      <div>
        <span *ngFor="let tag of game.tags" class="tag is-info is-small">{{tag}}</span>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" (click)="accept()">
      <i class="fa fa-check"></i>
    </a>
    <a class="card-footer-item" (click)="decline()">
      <i class="fa fa-times"></i>
    </a>
  </footer>
</div>