<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <strong>Game Invite</strong>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div>
        <p>
          SDD Presents 'Back to Basics' scrim!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla.
        </p>
      </div>
      <br/>
      <div>
        <i class="fa fa-calendar"></i>
        <small>19 August at 20:00</small>
        <br/>
        <i class="fa fa-map-marker"></i>
        <small>The Coop Academy</small>
      </div>
      <br/>
      <div>
        <span class="tag is-info is-small">
                  Intermediate
                </span>
        <span class="tag is-info is-small">
                  12 Going
                </span>
        <span class="tag is-info is-small">
                  3 Comments
                </span>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">
      <i class="fa fa-check"></i>
    </a>
    <a class="card-footer-item">
      <i class="fa fa-times"></i>
    </a>
  </footer>
</div>